<div class="actions">
    <a href="#" data-popup="order|Замовити" class="actions__btn actions__order"><i class="icon-receipt"></i></a>
    <a href="#" class="actions__btn actions__scroll"><i class="icon-arrow"></i></a>
</div>